In [1]:
from sqlalchemy import create_engine
import pandas as pd
from MyCreds.mycreds import Capstone_Local       #from local site-packages

engine = create_engine(f'postgresql+psycopg2://{Capstone_Local.username}:{Capstone_Local.password}@{Capstone_Local.host}/postgres', echo=False)

sql_alc_cnxn = engine.connect()

# Load Data into local DB

We use the postal code database to do the set-up

In [2]:
# load data from JSON
postal = 'buildings.json'
df_postal = pd.read_json(postal)

# upload to AWS
df_postal.to_sql('postal',sql_alc_cnxn, if_exists='replace', index=False)

In [3]:
# check to ensure it is set up right
sql_query ='''
select * from public."postal";
'''
df = pd.read_sql(sql_query, sql_alc_cnxn)
df.sample()

,ADDRESS,BLK_NO,BUILDING,LATITUDE,LONGITUDE,LONGTITUDE,POSTAL,ROAD_NAME,SEARCHVAL,X,Y
34722,12F CHANCERY HILL ROAD CHANCERY HILL VILLAS SI...,12F,CHANCERY HILL VILLAS,1.325464,103.838863,103.838863,307394,CHANCERY HILL ROAD,CHANCERY HILL VILLAS,28617.017665,34188.583269

# Setting up PostGIS in AWS

We follow steps from [this documentation](https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Appendix.PostgreSQL.CommonDBATasks.PostGIS.html) to setup/activate the PostGIS extention

Run queries in PGAdmin

Ensure that the rds_superuser role (user name that was used to create the DB instance) is selected

# Next set up a spatial table in the database

2 Main Steps
1. Create a normal non-spatial table/use existing 
2. Add a spatial column to the table using the OpenGIS "AddGeometryColumn" function.

But we since we have lat-long in the database we can just use that

In [5]:
sql_query ='''
ALTER TABLE public."postal" ADD COLUMN location GEOMETRY(point, 3857);
UPDATE public."postal" SET location = ST_SETSRID(ST_MakePoint("LATITUDE","LONGITUDE"),3857);
'''
sql_alc_cnxn.execute(sql_query)

Check to ensure location was loaded

In [6]:
sql_query ='''
select * from public."postal";
'''
df = pd.read_sql(sql_query, sql_alc_cnxn)
df

,ADDRESS,BLK_NO,BUILDING,LATITUDE,LONGITUDE,LONGTITUDE,POSTAL,ROAD_NAME,SEARCHVAL,X,Y,location
0,101A BAYFRONT AVENUE TEMPORARY SITE OFFICE SIN...,101A,TEMPORARY SITE OFFICE,1.275697,103.855652,103.855652,18895,BAYFRONT AVENUE,TEMPORARY SITE OFFICE,30485.511362,28685.612665,0101000020110F00004BC54D264169F43FC685CAFFC2F6...
1,1 STRAITS BOULEVARD SINGAPORE CHINESE CULTURAL...,1,SINGAPORE CHINESE CULTURAL CENTRE,1.275829,103.849576,103.849576,18906,STRAITS BOULEVARD,SINGAPORE CHINESE CULTURAL CENTRE,29809.365407,28700.236127,0101000020110F000013AF0BDFCB69F43F8F26A5755FF6...
2,11A STRAITS BOULEVARD TEMPORARY SITE OFFICE SI...,11A,TEMPORARY SITE OFFICE,1.274950,103.851665,103.851665,18907,STRAITS BOULEVARD,TEMPORARY SITE OFFICE,30041.838898,28602.987244,0101000020110F00007A735AA63166F43F37F1EDAE81F6...
3,2 CENTRAL BOULEVARD IOI CENTRAL BOULEVARD TOWE...,2,IOI CENTRAL BOULEVARD TOWERS,1.279777,103.851513,103.851513,18916,CENTRAL BOULEVARD,IOI CENTRAL BOULEVARD TOWERS,30024.919852,29136.807026,0101000020110F0000960CD0D6F779F43FB11B70317FF6...
4,21 PARK STREET DBS MARINA BAY MRT STATION SING...,21,DBS MARINA BAY MRT STATION,1.276427,103.854598,103.854598,18925,PARK STREET,DBS MARINA BAY MRT STATION,30368.205612,28766.381902,0101000020110F0000AA1D07173F6CF43F2399DFBAB1F6...
...,...,...,...,...,...,...,...,...,...,...,...,...
142881,100A KRANJI LOOP SINGAPORE 887327,100A,NIL,1.433629,103.758648,103.758648,887327,KRANJI LOOP,100A KRANJI LOOP SINGAPORE 887327,19690.280996,46149.118386,0101000020110F00008F5DBB7B25F0F63FDCF8F2AF8DF0...
142882,A PASIR PANJANG ROAD SINGAPORE 887328,A,NIL,1.277170,103.795840,103.795840,887328,PASIR PANJANG ROAD,A PASIR PANJANG ROAD SINGAPORE 887328,23828.902741,28848.553424,0101000020110F0000E717771F4A6FF43F7788C209EFF2...
142883,PULAU BUKOM SINGAPORE 903808,,NIL,1.235596,103.768645,103.768645,903808,PULAU BUKOM,PULAU BUKOM SINGAPORE 903808,20802.263821,24251.557450,0101000020110F0000B486DF7800C5F33F19D2057C31F1...
142884,GATE C7 AIRPORT CARGO ROAD CHANGI ANIMAL AND P...,GATE C7,CHANGI ANIMAL AND PLANT QUARANTINE CENTRE,1.375285,103.996737,103.996737,918104,AIRPORT CARGO ROAD,CHANGI ANIMAL AND PLANT QUARANTINE CENTRE,46186.488419,39698.194002,0101000020110F00005B6A881C2B01F63FB09F7E8ACAFF...
142885,AIRPORT BOULEVARD CHANGI AIRPORT TERMINAL 2 BU...,,CHANGI AIRPORT TERMINAL 2 BUILDING,1.354969,103.989066,103.989066,918146,AIRPORT BOULEVARD,CHANGI AIRPORT TERMINAL 2 BUILDING,45332.984096,37451.702888,0101000020110F0000A7C6FE5FF4ADF53F00CC88DD4CFF...

In [ ]:
# some test points from google maps
CBD = ('1.2790515225747496', '103.85402179404132')
Tiong_Bahru = ('1.2863988893455323', '103.82509579340865')

# Test spatial queries

Next we can query distances to popular locations in Singapore to each address location

Note ST_Distance is returning in degrees so we have to x111239.6925397 to convert this to meters

In [7]:
sql_query ='''
SELECT
    "ADDRESS",
    ST_Distance(
            "location",
            ST_GeomFromText('POINT(1.279177928627326 103.85462727093415)',3857)
            )*111239.6825397 as m_to_CBD,
    ST_Distance(
            "location",
            ST_GeomFromText('POINT(1.2863988893455323 103.82509579340865)',3857)
            )*111239.6825397 as m_to_tiongbahru
    FROM public."postal";
'''
df = pd.read_sql(sql_query, sql_alc_cnxn)
df.sample(20)

,ADDRESS,m_to_cbd,m_to_tiongbahru
70380,3 EVERGREEN GARDENS SINGAPORE 468879,9713.310132,12557.423144
41732,1A MELROSE DRIVE BRADDELL HEIGHTS ESTATE SINGA...,7722.773119,8129.366010
44233,34 CIRCUIT ROAD SINGAPORE 370034,6640.118674,8402.190448
135378,31 FERNVALE CLOSE RIVERTREES RESIDENCES SINGAP...,13025.309484,13412.522608
22847,1B STEVENS DRIVE SINGAPORE 257890,5268.058986,3414.493372
134556,61 LENTOR GROVE FUDU PARK SINGAPORE 789221,12152.648911,11307.015630
61350,722 DUNMAN ROAD ZEE JUNIORS SINGAPORE 439235,5965.225549,8608.430992
48916,1077 EUNOS AVENUE 6 EUNOS INDUSTRIAL ESTATE SI...,6559.330693,8750.832509
40779,83 GENTING LANE GENTING BUILDING SINGAPORE 349568,5825.856170,7272.093142
110228,24 TOH GUAN ROAD EAST WESTLITE TOH GUAN DORMIT...,13060.235806,9837.076851
82820,28 TAI KENG GARDENS SINGAPORE 535309,8281.175004,9452.122568
108002,126 LORONG KISMIS SINGAPORE 598051,11565.067293,8442.585610
74196,17 HARVEY CRESCENT HARVEY VIEW SINGAPORE 489379,13063.680290,15623.730311
61342,713 DUNMAN ROAD SINGAPORE 439230,5902.119116,8512.676117
25000,45 OEI TIONG HAM PARK SINGAPORE 267050,8053.908322,4900.228341
97701,2 ANG MO KIO DRIVE CARPE DIEM @ ITE PTE. LTD. ...,10982.721026,10757.343432
3839,22 KEONG SAIK ROAD SINGAPORE 089129,1444.745570,1974.357177
27243,35 BIN TONG PARK BIN TONG PARK SINGAPORE 269816,7778.263497,4873.205452
106622,14 YUK TONG AVENUE AIRVIEW PARK SINGAPORE 596319,11326.856531,8377.738611
21307,6A SWETTENHAM ROAD SINGAPORE 248086,6196.258484,3029.085599

Alternatively, instead of creating the point, we can also use the function ST_MakePoint() to create the point from latitude and longitude columns

In [8]:
sql_query ='''
SELECT
    "ADDRESS",
    ST_Distance(
            ST_SETSRID(ST_MakePoint("LATITUDE","LONGITUDE"),3857),
            ST_GeomFromText('POINT(1.279177928627326 103.85462727093415)',3857)
            )*111239.6825397 as m_to_CBD,
    ST_Distance(
            ST_SETSRID(ST_MakePoint("LATITUDE","LONGITUDE"),3857),
            ST_GeomFromText('POINT(1.2863988893455323 103.82509579340865)',3857)
            )*111239.6825397 as m_to_tiongbahru
    FROM public."postal";
'''
df = pd.read_sql(sql_query, sql_alc_cnxn)
df.sample(20)

,ADDRESS,m_to_cbd,m_to_tiongbahru
85412,3B CHARLTON ROAD CHARLTON RESIDENCES SINGAPORE...,9028.189551,9932.231249
109857,38 TOH TUCK PLACE TOH TUCK GARDEN SINGAPORE 59...,11895.874264,8791.208420
51619,276 CHANGI ROAD SINGAPORE 419756,7159.096469,9672.787595
110999,2A SECOND CHIN BEE ROAD SINGAPORE 618781,16586.391865,13234.294866
64632,31 JALAN BULOH PERINDU SEASIDE PARK SINGAPORE ...,8028.480395,10908.218289
31127,40 WATTEN VIEW WATTEN HILL SINGAPORE 287167,7643.521987,5241.852854
109182,535 CLEMENTI ROAD NGEE ANN POLYTECHNIC (BLK 43...,10995.906297,7877.946668
81442,23 THRIFT DRIVE SINGAPORE 535032,7806.936276,9077.128907
81957,221 AIRPORT ROAD PAYA LEBAR AIR BASE SINGAPORE...,8786.603323,10511.354880
138613,41 SUNRISE CLOSE SUNRISE VILLA SINGAPORE 806638,11994.563856,11701.148855
25474,5 KINGSMEAD ROAD SINGAPORE 267960,7145.168792,4324.365339
95446,29 CONWAY GROVE SERANGOON GARDEN ESTATE SINGAP...,8924.490176,9208.787737
129042,1068 SEMBAWANG ROAD SEMBAWANG STRAITS ESTATE S...,19817.068351,18927.295944
139596,42 NERAM ROAD SELETAR HILLS ESTATE SINGAPORE 8...,12036.410084,12119.627718
95705,14 CHUAN TERRACE CHUAN TERRACE SINGAPORE 558482,9416.156689,9712.469946
46312,722 GEYLANG ROAD GEYLANG CONSERVATION AREA SIN...,5708.290330,8041.610880
16078,415B JALAN BESAR SINGAPORE 209016,3921.866778,4942.654455
123697,118A PLANTATION CRESCENT PLANTATION GROVE SING...,15721.594349,12571.887471
135927,70 LORONG TANGGAM JALAN KAYU ESTATE SINGAPORE ...,13241.576486,13404.019526
44259,18 LORONG 37 GEYLANG NTWU BUILDING SINGAPORE 3...,5705.740029,7954.169065

## Sanity Checking

Results look more or less inline with what we can get from a good map - precision is off as the selected points on the map are not precise

![query_results](query_res.png)
![dist_to_cbd](dist_to_cbd.png)
![dist_to_tiongbahru](dist_to_tiongbahru.png)