In [1]:
import geopandas as gpd
from sqlalchemy import create_engine
from MyCreds.mycreds import Capstone_AWS_SG
import timeit

In [2]:
start_time = timeit.default_timer()
sql = """SELECT * FROM resale_location_features where extract(year from month) >= 2015;"""

engine = create_engine(f'postgresql+psycopg2://{Capstone_AWS_SG.username}:{Capstone_AWS_SG.password}@{Capstone_AWS_SG.host}/Capstone', echo=False)

with engine.connect() as cnxn:
    df = gpd.read_postgis(sql, cnxn, geom_col='geometry')

end_time = timeit.default_timer()
total = end_time - start_time
total

117.74476179199999

In [3]:
df

,transaction_id,month,block,town,street_name,address,storey_range,storey_range_min,storey_range_max,flat_model,...,dist_to_con_area_id_239,dist_to_con_area_id_240,dist_to_con_area_id_241,dist_to_con_area_id_242,dist_to_con_area_id_243,dist_to_con_area_id_244,dist_to_con_area_id_245,dist_to_con_area_id_246,dist_to_con_area_id_247,dist_to_con_area_id_248
0,2021_08_899_TAMPINES_ST_81_04_TO_06,2021-08-01,899,TAMPINES,TAMPINES ST 81,899 TAMPINES ST 81,04 TO 06,4,6,Model A,...,18215.675770,15482.030506,12999.170119,11252.263216,13319.323930,13110.732569,13130.505639,10426.406431,11211.380881,13112.201197
1,2021_08_79D_TOA_PAYOH_CTRL_07_TO_09,2021-08-01,79D,TOA PAYOH,TOA PAYOH CTRL,79D TOA PAYOH CTRL,07 TO 09,7,9,Model A,...,9301.710102,7313.595868,4847.136001,5223.653714,4017.418342,3946.339422,3712.162978,4339.879125,4139.002363,6359.428818
2,2021_08_79D_TOA_PAYOH_CTRL_37_TO_39,2021-08-01,79D,TOA PAYOH,TOA PAYOH CTRL,79D TOA PAYOH CTRL,37 TO 39,37,39,Model A,...,9301.710102,7313.595868,4847.136001,5223.653714,4017.418342,3946.339422,3712.162978,4339.879125,4139.002363,6359.428818
3,2021_08_723_WOODLANDS_AVE_6_04_TO_06,2021-08-01,723,WOODLANDS,WOODLANDS AVE 6,723 WOODLANDS AVE 6,04 TO 06,4,6,Improved,...,18371.297879,18444.378441,16985.185149,18453.822169,14872.125934,15151.942788,14479.909853,17699.591659,17189.157186,19041.182613
4,2021_08_320_CLEMENTI_AVE_4_01_TO_03,2021-08-01,320,CLEMENTI,CLEMENTI AVE 4,320 CLEMENTI AVE 4,01 TO 03,1,3,New Generation,...,4696.988963,6676.731745,7590.823702,10260.652443,6075.854247,6429.208159,6131.208648,10362.536915,9093.684463,9264.673920
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194316,2021_07_57_GEYLANG_BAHRU_01_TO_03,2021-07-01,57,KALLANG/WHAMPOA,GEYLANG BAHRU,57 GEYLANG BAHRU,01 TO 03,1,3,Improved,...,10460.679519,7903.738570,5336.004163,4372.326925,5532.334159,5310.004996,5374.715122,3362.002924,3823.144132,6032.735318
194317,2021_07_57_GEYLANG_BAHRU_10_TO_12,2021-07-01,57,KALLANG/WHAMPOA,GEYLANG BAHRU,57 GEYLANG BAHRU,10 TO 12,10,12,Improved,...,10460.679519,7903.738570,5336.004163,4372.326925,5532.334159,5310.004996,5374.715122,3362.002924,3823.144132,6032.735318
194318,2021_07_206_SERANGOON_CTRL_04_TO_06,2021-07-01,206,SERANGOON,SERANGOON CTRL,206 SERANGOON CTRL,04 TO 06,4,6,Simplified,...,12705.034690,10586.095421,8035.438560,7639.169849,7424.231993,7344.781177,7114.880979,6630.797752,6895.185777,9168.223042
194319,2021_07_684A_WOODLANDS_DR_73_13_TO_15,2021-07-01,684A,WOODLANDS,WOODLANDS DR 73,684A WOODLANDS DR 73,13 TO 15,13,15,Premium Apartment,...,17973.112371,17931.215865,16394.608075,17793.697349,14311.650777,14581.416720,13915.154270,17020.949813,16543.001873,18432.716057
194320,2021_07_570C_WOODLANDS_AVE_1_10_TO_12,2021-07-01,570C,WOODLANDS,WOODLANDS AVE 1,570C WOODLANDS AVE 1,10 TO 12,10,12,Improved,...,16782.394592,17033.543881,15740.833361,17385.632126,13571.619899,13871.733765,13191.158136,16692.245433,16085.775282,17830.827587

In [4]:
df['month'].min()

Timestamp('2015-01-01 00:00:00')