In [1]:
import geopandas as gpd
from sqlalchemy import create_engine
from MyCreds.mycreds import Capstone_AWS_SG
import timeit
from datetime import datetime

In [2]:
datetime.now().year

2022

In [2]:
start_time = timeit.default_timer()
sql = f"""SELECT * FROM resale_location_features where extract(year from month) >= {(datetime.now().year - 5)};"""

engine = create_engine(f'postgresql+psycopg2://{Capstone_AWS_SG.username}:{Capstone_AWS_SG.password}@{Capstone_AWS_SG.host}/Capstone', echo=False)

with engine.connect() as cnxn:
    df = gpd.read_postgis(sql, cnxn, geom_col='geometry')

end_time = timeit.default_timer()
total = end_time - start_time
total

96.786549542

In [3]:
df

,transaction_id,month,block,town,street_name,address,storey_range,storey_range_min,storey_range_max,flat_model,...,dist_to_con_area_id_239,dist_to_con_area_id_240,dist_to_con_area_id_241,dist_to_con_area_id_242,dist_to_con_area_id_243,dist_to_con_area_id_244,dist_to_con_area_id_245,dist_to_con_area_id_246,dist_to_con_area_id_247,dist_to_con_area_id_248
0,2019_07_509_JELAPANG_RD_01_TO_03,2019-07-01,509,BUKIT PANJANG,JELAPANG RD,509 JELAPANG RD,01 TO 03,1,3,Model A2,...,11964.256122,12835.062073,12201.072622,14391.381820,9977.238478,10337.885578,9679.968684,13948.196100,13033.921375,14320.464023
1,2019_07_332_SERANGOON_AVE_3_07_TO_09,2019-07-01,332,SERANGOON,SERANGOON AVE 3,332 SERANGOON AVE 3,07 TO 09,7,9,Model A,...,12256.905708,10150.872927,7605.674647,7277.750938,6975.638554,6896.978313,6666.461136,6273.345579,6498.855304,8775.693831
2,2019_07_201A_TAMPINES_ST_21_01_TO_03,2019-07-01,201A,TAMPINES,TAMPINES ST 21,201A TAMPINES ST 21,01 TO 03,1,3,New Generation,...,20263.440644,17516.182446,15043.000184,13247.774663,15362.777373,15157.132444,15169.121276,12443.902859,13241.432412,15109.124052
3,2019_07_201A_TAMPINES_ST_21_01_TO_03,2019-07-01,201A,TAMPINES,TAMPINES ST 21,201A TAMPINES ST 21,01 TO 03,1,3,New Generation,...,20262.914371,17515.667932,15042.478168,13247.279500,15362.238928,15156.595649,15168.581129,12443.397110,13240.919984,15108.628781
4,2019_07_117_YISHUN_RING_RD_07_TO_09,2019-07-01,117,YISHUN,YISHUN RING RD,117 YISHUN RING RD,07 TO 09,7,9,Model A,...,17846.966626,17373.833080,15538.059223,16604.388726,13618.699240,13840.732797,13212.122651,15750.460824,15426.221763,17470.887427
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148042,2019_06_865_YISHUN_ST_81_10_TO_12,2019-06-01,865,YISHUN,YISHUN ST 81,865 YISHUN ST 81,10 TO 12,10,12,Model A,...,15977.378385,15205.927710,13214.748492,14114.173184,11417.986492,11606.420700,11011.931673,13233.413270,12970.685528,15075.638760
148043,2019_06_865_YISHUN_ST_81_10_TO_12,2019-06-01,865,YISHUN,YISHUN ST 81,865 YISHUN ST 81,10 TO 12,10,12,Model A,...,15977.314721,15202.616123,13209.529184,14106.117056,11414.559043,11602.539336,11008.546394,13224.816819,12963.325522,15069.242539
148044,2019_07_666_JLN_DAMAI_10_TO_12,2019-07-01,666,BEDOK,JLN DAMAI,666 JLN DAMAI,10 TO 12,10,12,Improved,...,14852.214698,12125.958269,9635.018199,7966.702677,10006.465591,9783.686289,9838.706834,7100.994341,7863.108819,9817.426278
148045,2019_07_724_BEDOK_RESERVOIR_RD_13_TO_15,2019-07-01,724,BEDOK,BEDOK RESERVOIR RD,724 BEDOK RESERVOIR RD,13 TO 15,13,15,Model A,...,17092.566824,14307.285395,11857.225552,10020.103459,12299.612597,12072.499168,12135.085153,9221.886932,10029.472251,11881.455565
148046,2019_07_509_JELAPANG_RD_04_TO_06,2019-07-01,509,BUKIT PANJANG,JELAPANG RD,509 JELAPANG RD,04 TO 06,4,6,Model A2,...,11964.256122,12835.062073,12201.072622,14391.381820,9977.238478,10337.885578,9679.968684,13948.196100,13033.921375,14320.464023

In [4]:
df['month'].min()

Timestamp('2017-01-01 00:00:00')

In [7]:
df['resale_price_norm'].max()

1414897.6848394324

In [34]:
address_most_resales = df[df['address'] == df.value_counts('address').reset_index().rename({0: 'Number of Resales'}, axis=1).iloc[0]['address']][['address', 'building_id']].iloc[0].values
address_most_resales

array(['308A PUNGGOL WALK', 141950], dtype=object)

In [24]:
address_highest_resale = df[df['resale_price_norm'] == df['resale_price_norm'].max()][['address', 'building_id']].values
address_highest_resale

array([['1B CANTONMENT RD', 3139]], dtype=object)

In [25]:
address_lowest_resale = df[df['resale_price_norm'] == df['resale_price_norm'].min()][['address', 'building_id']].values
address_lowest_resale

array([['96 ALJUNIED CRES', 44427]], dtype=object)

In [41]:
address_most_resales[1]

141950

In [43]:
f"[{address_most_resales[0]}]({address_most_resales[1]})"

'[308A PUNGGOL WALK](141950)'

In [44]:
f"[{address_lowest_resale[0][0]}]({address_lowest_resale[0][1]})"

'[96 ALJUNIED CRES](44427)'

In [45]:
f"[{address_highest_resale[0][0]}]({address_highest_resale[0][1]})"

'[1B CANTONMENT RD](3139)'

In [8]:
import pandas as pd

In [11]:
start_time = timeit.default_timer()
sql = f"""SELECT * FROM explore_pg_five_yr_min_max;"""

engine = create_engine(f'postgresql+psycopg2://{Capstone_AWS_SG.username}:{Capstone_AWS_SG.password}@{Capstone_AWS_SG.host}/Capstone', echo=False)

with engine.connect() as cnxn:
    df_explore_page = pd.read_sql(sql, cnxn)

end_time = timeit.default_timer()
total = end_time - start_time
total

5.167973250000159

In [14]:
df_explore_page['aggregated_amount'] = df_explore_page['aggregated_amount'].round(2)
df_explore_page

             address  building_id  aggregated_amount       attribute
0   96 ALJUNIED CRES        44427          146667.00   lowest_resale
1  308A PUNGGOL WALK       141950             115.00   max_n_resales
2   1B CANTONMENT RD         3139         1414897.68  highest_resale

In [13]:
df_explore_page['aggregated_amount'].round(2)

0     146667.00
1        115.00
2    1414897.68
Name: aggregated_amount, dtype: float64

In [16]:
sql = f"""SELECT * FROM explore_pg_five_yr_min_max;"""

engine = create_engine(f'postgresql+psycopg2://{Capstone_AWS_SG.username}:{Capstone_AWS_SG.password}@{Capstone_AWS_SG.host}/Capstone', echo=False)

with engine.connect() as cnxn:
    df = pd.read_sql(sql, cnxn)

df['aggregated_amount'] = df['aggregated_amount'].round(2)
df

             address  building_id  aggregated_amount       attribute
0   96 ALJUNIED CRES        44427          146667.00   lowest_resale
1  308A PUNGGOL WALK       141950             115.00   max_n_resales
2   1B CANTONMENT RD         3139         1414897.68  highest_resale

In [20]:
df[df['attribute'] == 'highest_resale'].iloc[0, 0]

'1B CANTONMENT RD'

In [31]:
f"""## Highest Resale Price
[${df[df['attribute'] == 'highest_resale'].iloc[0, 2]:,.2f} at {df[df['attribute'] == 'highest_resale'].iloc[0, 0]}]({int(df[df['attribute'] == 'highest_resale'].iloc[0, 1])})
## Lowest Resale Price
[{df[df['attribute'] == 'lowest_resale'].iloc[0, 0]}]({int(df[df['attribute'] == 'lowest_resale'].iloc[0, 1])})
## Address with the Most Resold Flats:
[{df[df['attribute'] == 'max_n_resales'].iloc[0, 0]}]({int(df[df['attribute'] == 'max_n_resales'].iloc[0, 1])})


*Data based on the last 5 years.*"""

'## Highest Resale Price\n[$1,414,897.68 at 1B CANTONMENT RD](3139)\n## Lowest Resale Price\n[96 ALJUNIED CRES](44427)\n## Address with the Most Resold Flats:\n[308A PUNGGOL WALK](141950)\n\n\n*Data based on the last 5 years.*'

In [25]:
print(f"{df[df['attribute'] == 'highest_resale'].iloc[0, 0]}")

1B CANTONMENT RD

In [29]:
import dash
help(dash.dcc.Markdown)

Help on class Markdown in module dash.dcc.Markdown:

class Markdown(dash.development.base_component.Component)
 |  Markdown(children=None, id=undefined, className=undefined, mathjax=undefined, dangerously_allow_html=undefined, dedent=undefined, highlight_config=undefined, loading_state=undefined, style=undefined, **kwargs)
 |
 |  A Markdown component.
 |  A component that renders Markdown text as specified by the
 |  GitHub Markdown spec. These component uses
 |  [react-markdown](https://rexxars.github.io/react-markdown/) under the hood.
 |
 |  Keyword arguments:
 |
 |  - children (string | list of strings; optional):
 |      A markdown string (or array of strings) that adhreres to the
 |      CommonMark spec.
 |
 |  - id (string; optional):
 |      The ID of this component, used to identify dash components in
 |      callbacks. The ID needs to be unique across all of the components
 |      in an app.
 |
 |  - className (string; optional):
 |      Class name of the container element.
 |
 |  - dangerously_allow_html (boolean; default False):
 |      A boolean to control raw HTML escaping. Setting HTML from code is
 |      risky because it's easy to inadvertently expose your users to a
 |      cross-site scripting (XSS)
 |      (https://en.wikipedia.org/wiki/Cross-site_scripting) attack.
 |
 |  - dedent (boolean; default True):
 |      Remove matching leading whitespace from all lines. Lines that are
 |      empty, or contain *only* whitespace, are ignored. Both spaces and
 |      tab characters are removed, but only if they match; we will not
 |      convert tabs to spaces or vice versa.
 |
 |  - highlight_config (dict; optional):
 |      Config options for syntax highlighting.
 |
 |      `highlight_config` is a dict with keys:
 |
 |      - theme (a value equal to: 'dark', 'light'; optional):
 |          Color scheme; default 'light'.
 |
 |  - loading_state (dict; optional):
 |      Object that holds the loading state object coming from
 |      dash-renderer.
 |
 |      `loading_state` is a dict with keys:
 |
 |      - component_name (string; optional):
 |          Holds the name of the component that is loading.
 |
 |      - is_loading (boolean; optional):
 |          Determines if the component is loading or not.
 |
 |      - prop_name (string; optional):
 |          Holds which property is loading.
 |
 |  - mathjax (boolean; default False):
 |      If True, loads mathjax v3 (tex-svg) into the page and use it in
 |      the markdown.
 |
 |  - style (dict; optional):
 |      User-defined inline styles for the rendered Markdown.
 |
 |  Method resolution order:
 |      Markdown
 |      dash.development.base_component.Component
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__ = wrapper(self, children=None, id=undefined, className=undefined, mathjax=undefined, dangerously_allow_html=undefined, dedent=undefined, highlight_config=undefined, loading_state=undefined, style=undefined, **kwargs)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __abstractmethods__ = frozenset()
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from dash.development.base_component.Component:
 |
 |  __delitem__(self, id)
 |      Delete items by ID in the tree of children.
 |
 |  __getitem__(self, id)
 |      Recursively find the element with the given ID through the tree of
 |      children.
 |
 |  __iter__(self)
 |      Yield IDs in the tree of children.
 |
 |  __len__(self)
 |      Return the number of items in the tree.
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  __setitem__(self, id, item)
 |      Set an element by its ID.
 |
 |  to_plotly_json(self)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from dash.development.base_component.Component:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from dash.development.base_component.Component:
 |
 |  REQUIRED = required
 |
 |  UNDEFINED = undefined

In [32]:
# Index page that works in case i screw it up:


from app import app
import pandas as pd
import geopandas as gpd
from MyCreds.mycreds import MapBox
import plotly.express as px
import re
from maps import create_sg_base_map

server = app.server
app.config.suppress_callback_exceptions = True

app.layout = dbc.Container(html.Div([
    dcc.Location(id='url', refresh=False),
    html.Div(id='page-content')
]), fluid=True, className="dbc")


@app.callback(Output('page-content', 'children'),
              [Input('url', 'pathname')])
def display_page(pathname):
    if pathname == '/blog':
        return create_page_blog()
    if pathname == '/contact-us':
        return create_page_contact_us()
    if re.match(r'^(/\d+)', pathname):
        return create_page_search_results(pathname)
    if pathname == '/explore':
        return create_page_explore()
    else:
        sg_base_map = create_sg_base_map()
        return create_page_home(sg_base_map)


if __name__ == '__main__':
    app.title = "WhyHigh"
    app.run_server(debug=True)

In [32]:
# Home Page in case i screw it up

# import dash_html_components as html
from dash import html
from dash import dcc
import dash_bootstrap_components as dbc
from navbar import create_navbar
import pandas as pd
from MyCreds.mycreds import Capstone_AWS_PG, MapBox
from sqlalchemy import create_engine
from app import app
from dash.dependencies import Input, Output
from address_search import return_search_results
import time
import plotly.express as px
import geopandas as gpd
from markdown_helper_home_page import create_explore_column_markdown


# Note to self:
# Margin Top, Right, Bottom, Left

nav = create_navbar()

def create_page_home(sg_base_map):
    layout = html.Div([
        nav,

        # html.Div([header], style={'margin': '5% 10% 5% 10%', 'flex': 10, 'flex-direction': 'column',
        #                           'justify-content': 'left', 'text-align': 'center'}),
        html.Div([dcc.Graph(figure=sg_base_map)]),

        html.Div([
            dbc.Row([
                dbc.Col(html.Div([dcc.Markdown("""# Explore
Unfamiliar with Singapore?  Explore one of the addresses below."""),
                                  html.Br(),
                                  dcc.Markdown(create_explore_column_markdown(),
                                               style={"white-space": "pre"},
                                               dangerously_allow_html=True)
                                  ])),
                dbc.Col(
                    html.Div([
                        # html.P("Search Address"),
                        dcc.Input(id='address_search_input', type='text', placeholder='Enter Address', debounce=True, style=dict(
                            width='70%'
                        )),
                        dcc.Loading(
                            id="address_search_input_loading",
                            children=[html.Div([html.Br(),
                                                html.Div(id="address_search_output")])],
                            type="cube",
                            color='#4ABF72',
                            # fullscreen=True
                        ),

                    ])
                ),

            ])
        ],
            style={'margin': '0% 10% 5% 10%'}
        )

        #style={'margin': '20px 200px 10px 200px', 'flex': 1, 'flex-direction': 'column'})
        # dict(display='flex', justifyContent='center')) # Another way

    ])
    return layout

@app.callback(
    Output('address_search_output', 'children'),
    # Output('address_search_loading_output', 'children'),
    Input('address_search_input', 'value'),
    prevent_initial_call=True
)
def get_address_information(address_search_input):
    time.sleep(1)
    search_results = return_search_results(address_search_input)

    # return f"Address: {search_results}"
    return search_results

In [ ]:
# page_home


# import dash_html_components as html
from dash import html
from dash import dcc
import dash_bootstrap_components as dbc
from navbar import create_navbar
import pandas as pd
from MyCreds.mycreds import Capstone_AWS_PG, MapBox
from sqlalchemy import create_engine
from app import app
from dash.dependencies import Input, Output
from address_search import return_search_results
import time
import plotly.express as px
import geopandas as gpd
from markdown_helper_home_page import create_explore_column_markdown


# Note to self:
# Margin Top, Right, Bottom, Left

nav = create_navbar()


def create_page_home(sg_base_map):
    layout = html.Div([
        nav,
        html.Div([dcc.Graph(figure=sg_base_map)]),
        html.Div([
            dbc.Row([
                dbc.Col(html.Div([dcc.Markdown("""# Explore
Unfamiliar with Singapore?  Explore one of the addresses below."""),
                                  html.Br(),
                                  dcc.Markdown(create_explore_column_markdown(),
                                               style={"white-space": "pre"},
                                               dangerously_allow_html=True)
                                  ])),
                dbc.Col(
                    html.Div([
                        # html.P("Search Address"),
                        html.Div([
                            dcc.Input(id='address_search_input', type='text', placeholder='Enter Address', debounce=True, style=dict(width='70%')),
                            dcc.Dropdown(['1 Room', '2 Room', '3 Room', '4 Room', '5 Room', 'Multi-Generation', 'Executive'], '1 Room', id='flat_type_search_input'),
                            dcc.Input(id='sq_m_search_input', type='text', placeholder='Square Meters', debounce=True),
                            html.Button(id='submit_address_search', n_clicks=0, children='Submit')

                        ], style={'display': 'inline-block'}),
                        html.Br(),
                        html.Br(),
                        html.Div(id="address_search_output")]),
                ),
            ])
        ],
            style={'margin': '0% 10% 5% 10%'}
        )

        #style={'margin': '20px 200px 10px 200px', 'flex': 1, 'flex-direction': 'column'})
        # dict(display='flex', justifyContent='center')) # Another way
    ])
    return layout

@app.callback(
    Output('address_search_output', 'children'),
    # Output('address_search_loading_output', 'children'),
    Input('address_search_input', 'value'),
    prevent_initial_call=True
)
def get_address_information(address_search_input):
    time.sleep(1)
    search_results = return_search_results(address_search_input)

    # return f"Address: {search_results}"
    return search_results

In [1]:
[i for i in range(1, 52)]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51]