In [1]:
import pandas as pd
from MyCreds.mycreds import Capstone_AWS_PG
from sqlalchemy import create_engine

In [4]:
engine = create_engine(f'postgresql+psycopg2://{Capstone_AWS_PG.username}:{Capstone_AWS_PG.password}@{Capstone_AWS_PG.host}/capstone', echo=False)

sql_alc_cnxn = engine.connect()

# Switch depending on which table you want to read.
sql_query = 'select * from resale_prices_based_on_registration_date;'
# sql_query = 'select * from resale_price_based_on_approval_date;'

df = pd.read_sql(sql_query, sql_alc_cnxn)
df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease
0,2012-03,ANG MO KIO,2 ROOM,172,ANG MO KIO AVE 4,06 TO 10,45.0,Improved,1986,250000.0,None
1,2012-03,ANG MO KIO,2 ROOM,510,ANG MO KIO AVE 8,01 TO 05,44.0,Improved,1980,265000.0,None
2,2012-03,ANG MO KIO,3 ROOM,610,ANG MO KIO AVE 4,06 TO 10,68.0,New Generation,1980,315000.0,None
3,2012-03,ANG MO KIO,3 ROOM,474,ANG MO KIO AVE 10,01 TO 05,67.0,New Generation,1984,320000.0,None
4,2012-03,ANG MO KIO,3 ROOM,604,ANG MO KIO AVE 5,06 TO 10,67.0,New Generation,1980,321000.0,None
...,...,...,...,...,...,...,...,...,...,...,...
210825,2016-12,YISHUN,5 ROOM,297,YISHUN ST 20,13 TO 15,112.0,Improved,2000,488000.0,82
210826,2016-12,YISHUN,5 ROOM,838,YISHUN ST 81,01 TO 03,122.0,Improved,1987,455000.0,69
210827,2016-12,YISHUN,EXECUTIVE,664,YISHUN AVE 4,10 TO 12,181.0,Apartment,1992,778000.0,74
210828,2016-12,YISHUN,EXECUTIVE,325,YISHUN CTRL,01 TO 03,146.0,Maisonette,1988,575000.0,70
210829,2016-12,YISHUN,MULTI-GENERATION,666,YISHUN AVE 4,10 TO 12,164.0,Multi Generation,1987,735000.0,70

In [8]:
df['block_street'] = df['block'] + " " + df['street_name']
df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease,block_street
0,2012-03,ANG MO KIO,2 ROOM,172,ANG MO KIO AVE 4,06 TO 10,45.0,Improved,1986,250000.0,None,172 ANG MO KIO AVE 4
1,2012-03,ANG MO KIO,2 ROOM,510,ANG MO KIO AVE 8,01 TO 05,44.0,Improved,1980,265000.0,None,510 ANG MO KIO AVE 8
2,2012-03,ANG MO KIO,3 ROOM,610,ANG MO KIO AVE 4,06 TO 10,68.0,New Generation,1980,315000.0,None,610 ANG MO KIO AVE 4
3,2012-03,ANG MO KIO,3 ROOM,474,ANG MO KIO AVE 10,01 TO 05,67.0,New Generation,1984,320000.0,None,474 ANG MO KIO AVE 10
4,2012-03,ANG MO KIO,3 ROOM,604,ANG MO KIO AVE 5,06 TO 10,67.0,New Generation,1980,321000.0,None,604 ANG MO KIO AVE 5
...,...,...,...,...,...,...,...,...,...,...,...,...
210825,2016-12,YISHUN,5 ROOM,297,YISHUN ST 20,13 TO 15,112.0,Improved,2000,488000.0,82,297 YISHUN ST 20
210826,2016-12,YISHUN,5 ROOM,838,YISHUN ST 81,01 TO 03,122.0,Improved,1987,455000.0,69,838 YISHUN ST 81
210827,2016-12,YISHUN,EXECUTIVE,664,YISHUN AVE 4,10 TO 12,181.0,Apartment,1992,778000.0,74,664 YISHUN AVE 4
210828,2016-12,YISHUN,EXECUTIVE,325,YISHUN CTRL,01 TO 03,146.0,Maisonette,1988,575000.0,70,325 YISHUN CTRL
210829,2016-12,YISHUN,MULTI-GENERATION,666,YISHUN AVE 4,10 TO 12,164.0,Multi Generation,1987,735000.0,70,666 YISHUN AVE 4

In [10]:
import geopy
from geopy.geocoders import Nominatim

In [13]:
from geopy.extra.rate_limiter import RateLimiter

locator = Nominatim()
location = locator.geocode("Champ de Mars, Paris, France")

print("Latitude = {}, Longitude = {}".format(location.latitude, location.longitude))
# # 1 - conveneint function to delay between geocoding calls
# geocode = RateLimiter(locator.geocode, min_delay_seconds=1)

ConfigurationError: Using Nominatim with default or sample `user_agent` "geopy/2.2.0" is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`.

In [15]:
import osmnx as ox


place = 'Punggol, Singapore'

tags = {'amenity': 'cafe'}
cafe = ox.geometries_from_place(place, tags=tags)
cafe.head()

/Users/msmcmanus/.conda/envs/Singapore-HDB/lib/python3.9/site-packages/osmnx/geocoder.py:110: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  gdf = gdf.append(_geocode_query_to_gdf(q, wr, by_osmid))

,,amenity,cuisine,name,geometry
element_type,osmid,,,,
node,9082240450,cafe,bubble_tea,Tea Tree Cafe,POINT (103.90192 1.40418)

In [17]:
import osmnx as ox


place = 'Serangoon, Singapore'

tags = {'amenity': 'pub'}
cafe = ox.geometries_from_place(place, tags=tags)
cafe.head()

/Users/msmcmanus/.conda/envs/Singapore-HDB/lib/python3.9/site-packages/osmnx/geocoder.py:110: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  gdf = gdf.append(_geocode_query_to_gdf(q, wr, by_osmid))

Empty GeoDataFrame
Columns: [geometry]
Index: []

In [18]:
import osmnx as ox


place = 'Serangoon, Singapore'

tags = {'amenity': 'restaurant'}
cafe = ox.geometries_from_place(place, tags=tags)
cafe.head()

/Users/msmcmanus/.conda/envs/Singapore-HDB/lib/python3.9/site-packages/osmnx/geocoder.py:110: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  gdf = gdf.append(_geocode_query_to_gdf(q, wr, by_osmid))

                            amenity level        name  \
element_type osmid
node         4621805807  restaurant     0    18 Chefs
             5942836033  restaurant     1   Swensen's
             5942836034  restaurant     3  Pastamania
             5942836045  restaurant     2   Sushi Tei
             5942836051  restaurant     1   Bali Thai

                                          geometry cuisine opening_hours  \
element_type osmid
node         4621805807  POINT (103.87297 1.34996)     NaN           NaN
             5942836033  POINT (103.87189 1.35079)     NaN           NaN
             5942836034  POINT (103.87273 1.35064)     NaN           NaN
             5942836045  POINT (103.87281 1.35037)     NaN           NaN
             5942836051  POINT (103.87239 1.35078)     NaN           NaN

                        name:fa wheelchair brand brand:wikidata  ...  \
element_type osmid                                               ...
node         4621805807     NaN        NaN   NaN            NaN  ...
             5942836033     NaN        NaN   NaN            NaN  ...
             5942836034     NaN        NaN   NaN            NaN  ...
             5942836045     NaN        NaN   NaN            NaN  ...
             5942836051     NaN        NaN   NaN            NaN  ...

                        addr:street addr:unit air_conditioning branch  \
element_type osmid
node         4621805807         NaN       NaN              NaN    NaN
             5942836033         NaN       NaN              NaN    NaN
             5942836034         NaN       NaN              NaN    NaN
             5942836045         NaN       NaN              NaN    NaN
             5942836051         NaN       NaN              NaN    NaN

                        diet:halal phone website name:en name:zh name:zh-Hant
element_type osmid
node         4621805807        NaN   NaN     NaN     NaN     NaN          NaN
             5942836033        NaN   NaN     NaN     NaN     NaN          NaN
             5942836034        NaN   NaN     NaN     NaN     NaN          NaN
             5942836045        NaN   NaN     NaN     NaN     NaN          NaN
             5942836051        NaN   NaN     NaN     NaN     NaN          NaN

[5 rows x 27 columns]

In [19]:
import osmnx as ox


place = 'Serangoon, Singapore'

tags = {'amenity': 'bar'}
cafe = ox.geometries_from_place(place, tags=tags)
cafe.head()

/Users/msmcmanus/.conda/envs/Singapore-HDB/lib/python3.9/site-packages/osmnx/geocoder.py:110: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  gdf = gdf.append(_geocode_query_to_gdf(q, wr, by_osmid))

Empty GeoDataFrame
Columns: [geometry]
Index: []